/* CSS */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 450px;
  height: 550px;
}

.header-1 {
  font-family: "Roboto", sans-serif;
  font-size: 86px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-top: 30px;
}

.header-2 {
  font-family: "Roboto", sans-serif;
  font-size: 46px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 90px; 
}

.btn {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  width: 563px;
  height: 473px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
 
}

.btn:hover,
.btn:focus-visible {
  background: hsl(200, 100%, 50%, 0.2);
}

.btn-text {
  font-size: 56px;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(58, 54, 255, 1) 0%,
    rgba(255, 188, 188, 1) 100%
  );


}
